.triangeld {
    margin-left: 4px;
    display: inline-block;
    border-color: #adadad transparent transparent transparent;
    border-width: 6px;
    border-style: solid;
    transition: transform .3s ease;
    position: relative;
    top: 3px;
}

.triangeld.active {
    border-color: #5cc55c transparent transparent transparent;
    transform: rotateZ(180deg);
    top: -3px;
}

.cursor-pointer {
    cursor: pointer;
}

.ellipsis-text {
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 溢出部分隐藏 */
    text-overflow: ellipsis;
}

.rent-item-row {
    height: 89px;
}

.fs-7 {
    font-size: 0.8rem !important;
}