<head>
    <meta http-equiv="content-language" content="zh">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <title>菲律宾租房，马尼拉租房，makati租房，帕塞租房 - 菲租房</title>
    <meta name="keywords" content="菲律宾租房，菲租房，Makati租房，帕塞租房，马尼拉租房">
    <meta name="description"
          content="在菲华人租房，都是本地华人房东发布的房源，中介房源的话也是华人中介，沟通无障碍，中国人在马尼拉租房首选">
    <meta property="og:type" content="webpage">
    <meta property="og:url" content="https://wxfx.one">
    <meta property="og:site_name" content="菲律宾租房">
    <meta property="og:title" content="菲律宾租房，菲律宾华人租房，马尼拉租房，菲律宾bgc租房 - 菲律宾租房">
    <meta property="og:description"
          content="在菲华人租房，都是本地华人房东发布的房源，中介房源的话也是华人中介，沟通无障碍，中国人在马尼拉租房首选">
    <meta name="msvalidate.01" content="BA3C24077DE50D253634A3E8482D8537"/>
    <link rel="canonical" href="https://wxfx.one">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/icofont/icofont.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/mobile-select@latest/dist/style/mobile-select.css"/>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.global.prod.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/qs/6.11.1/qs.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
            async></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" async></script>
    <script type="text/javascript" src="https://unpkg.com/mobile-select@latest/dist/mobile-select.iife.min.js"></script>
    <script type="text/javascript" src="/javascripts/global.js"></script>
    <script type="text/javascript" src="/javascripts/tool.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HNJVWCDF58"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-HNJVWCDF58');
    </script>
</head>
