<div class="row border-bottom p-2 bg-warning-subtle">
    <ul class="nav nav-pills align-items-center">
        <li class="nav-item">
            <a class="nav-link pt-1 pb-1 <%= pageNav === 'rent' && 'active' %> " aria-current="page" href="/index">租房</a>
        </li>
        <li class="nav-item">
            <a class="nav-link pt-1 pb-1 <%= pageNav === 'erShou' && 'active' %>" href="/erShou">二手交易</a>
        </li>
    </ul>
</div>
